<h1>Show bag</h1>


<tr>
             <td>
            <a href="/items" class="button">Continue Shopping</a> 
            </td>
             <td>
                <a href="/checkout" class="button">Checkout</a>
            </td>
            </tr>